	<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Edit Account</h1>
	<%= link_to admin_profile_path, class: "d-none d-sm-inline-block btn btn-secondary shadow-sm" do %>
		<i class="fas fa-angle-left"></i> Back to Profile
	<% end %>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	<div class="row">
		<!-- Pie Chart -->
		<div class="col-xl-4 col-lg-5">
			<div class="card shadow mb-4">
				<!-- Card Header - Dropdown -->
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Profile Preview</h6>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<div class=" pt-4 pb-2">
						<div class="text-center">
							<% if current_user.profile_image.attached? %>
								<%= image_tag current_user.profile_image, id: "preview-img", class: "rounded-circle me-profile mb-3", width: "250", height: "250", alt: "profile Image" %>
							<% else %>
								<%= image_tag("default.png", id: "preview-img", class: "rounded-circle me-profile mb-3", width: "250", height: "250", alt: "profile Image") %>
							<% end %>
							<div class=" custom-file">
								<p id="file-name"></p>
								<label class="btn btn-primary" for="inputGroupFile01"><i class="fas fa-image"></i> Choose file</label>
								<%= f.file_field :profile_image, accept: ".jpeg, .jpg, .png", id: "inputGroupFile01", class: "d-none" %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Area Chart -->
		<div class="col-xl-8 col-lg-7">
			<div class="card shadow mb-4">
				<!-- Card Header - Dropdown -->
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Input Details </h6>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<%= render 'admin/shared/devise_errors' %>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputFirstName">First Name <span class="text-danger ml-1 h4">*</span> </label>
							<%= f.text_field :first_name, id: "inputFirstName", class: "form-control" %>
						</div>
						<div class="form-group col-md-6">
							<label for="inputLastName">Last Name <span class="text-danger ml-1 h4">*</span> </label>
							<%= f.text_field :last_name, id: "inputLastName", class: "form-control" %>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputEmailAdress">Email Address <span class="text-danger ml-1 h4">*</span> </label>
							<%= f.email_field :email, autocomplete: "email", id: "inputEmailAdress", class: "form-control", disabled: true %>
						</div>
						<div class="form-group col-md-6">
							<label for="inputPhoneNo">Phone No. <span class="text-danger ml-1 h4">*</span> </label>
							<%= f.text_field :phone_no, id: "inputPhoneNo", class: "form-control", placeholder: "(+234) XXX-XXX-XXXX", id: "phone_number" %>
						</div>
						<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
							<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
						<% end %>
					</div>
					<div class="form-group">
						<label for="inputAddress">Address <span class="text-danger ml-1 h4">*</span> </label>
						<%= f.text_field :address, id: "inputAddress", class: "form-control", placeholder: "1234 Main St" %>
					</div>
					<div class="form-row mb-4">
						<div class="form-group col-md-4">
							<label for="inputDate">Date of Birth <span class="text-danger ml-1 h4">*</span> </label>
							<%= f.date_field :date_of_birth, id: "inputDate", class: "form-control" %>
						</div>
						<div class="form-group col-md-2">
							<label for="inputGender">Gender <span class="text-danger ml-1 h4">*</span> </label>
							<%= f.select :gender, options_for_select(
									[['Male', 'male'], ['Female', 'female']]), 
									{ prompt: "Select gender" }, 
									{ class: "form-control" } %>
						</div>
						<div class="form-group col-md-4">
							<label for="inputState">State <span class="text-danger ml-1 h4">*</span> </label>
							<%= f.select :state, options_for_select([['Abia', 'Abia'], ['Adamawa', 'Adamawa'], ['Akwa Ibom', 'Akwa Ibom'], ['Anambra', 'Anambra'], ['Bauchi', 'Bauchi'], ['Bayelsa', 'Bayelsa'], ['Benue', 'Benue'], ['Borno', 'Borno'], ['Cross River', 'Cross River'], ['Delta', 'Delta'], ['Ebonyi', 'Ebonyi'], ['Edo', 'Edo'], ['Ekiti', 'Ekiti'], ['Enugu', 'Enugu'], ['Gombe', 'Gombe'], ['Imo', 'Imo'], ['Jigawa', 'Jigawa'], ['Kaduna', 'Kaduna'], ['Kano', 'Kano'], ['Katsina', 'Katsina'], ['Kebbi', 'Kebbi'], ['Kogi', 'Kogi'], ['Kwara', 'Kwara'], ['Lagos', 'Lagos'], ['Nasarawa', 'Nasarawa'], ['Niger', 'Niger'], ['Ogun', 'Ogun'], ['Ondo', 'Ondo'], ['Osun', 'Osun'], ['Oyo', 'Oyo'], ['Plateau', 'Plateau'], ['Rivers', 'Rivers'], ['Sokoto', 'Sokoto'], ['Taraba', 'Taraba'], ['Yobe', 'Yobe'], ['Zamfara', 'Zamfara']], selected: current_user.state, prompt: "Select a state"), {}, { id: "inputState", class: "form-control" } %>
						</div>
						<div class="form-group col-md-2">
							<label for="inputZip">Zip Code <span class="text-danger ml-1 h4">*</span> </label>
							<%= f.text_field :zip_code, id: "inputZip", class: "form-control" %>
						</div>
					</div>
					<div class="form-group">
						<label for="inputCurrentPassword">Current Password ( <strong class="font-italic text-primary">We need your current password to confirm your changes</strong> ) <span class="text-danger ml-1 h4">*</span> </label>
						<%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", id: "inputCurrentPassword", placeholder: "1tQ*****" %>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputPassword">Password ( <strong class="font-italic text-primary"> leave blank if you don't want to change it.</strong> )</label>
							<%= f.password_field :password, autocomplete: "new-password", id: "inputPassword", class: "form-control" %>
						</div>
						<div class="form-group col-md-6">
							<label for="inputConfirmPassword">Confirm Password</label>
							<%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "inputConfirmPassword" %>
						</div>
					</div>
					<div class="form-group mb-0 mt-4">
						<%= f.submit "Save Changes", disable_with: 'Saving...', class: "btn btn-primary" %>
					</div>
				</div>
			</div>
			<%# delete account section %>
			<div class="col-xl-12 col-lg-12 mt-5">
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Unhappy? </h6>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<h3>Cancel my account</h3>
						<div><%= link_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger swal-delete-method", data: { confirm_swal: "~#{@current_user.first_name}~ your account will be deleted!", turbo_method: :delete } %></div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>
<%# hello %>
<%# script for image preview below %>
<script>
	document.addEventListener("turbo:load", function() {
	  function previewImage(input) {
	    var imgElement = document.getElementById("preview-img");
	    var fileNameSpan = document.getElementById("file-name");
	    var file = input.files[0];
	    var fileType = file.type;
	    var validExtensions = ["image/jpeg", "image/jpg", "image/png"];
	    if (validExtensions.includes(fileType)) {
	      if (input.files && input.files[0]) {
	        var reader = new FileReader();
	        reader.onload = function(e) {
	          imgElement.setAttribute("src", e.target.result);
	        }
	        reader.readAsDataURL(input.files[0]);
	        fileNameSpan.textContent = file.name;
	      }
	    } else {
	      input.value = "";
	      imgElement.setAttribute("src", "https://via.placeholder.com/250");
	      fileNameSpan.textContent = "";
	      alert("Please choose a valid image file (jpeg, jpg, or png).");
	    }
	  }

	  document.getElementById("inputGroupFile01").addEventListener("change", function() {
	    previewImage(this);
	  });
	});
</script>
<script>
	document.addEventListener("turbo:load", function() {

		const phoneNumberInput = document.getElementById("phone_number");

		// Add an event listener to the phone number input field
		phoneNumberInput.addEventListener("input", (event) => {
		  // Get the raw input value
		  let rawValue = event.target.value;

		  // Remove any non-numeric characters
		  let numericValue = rawValue.replace(/[^\d]/g, "");

		  // Add the default country code if not already present
		  if (!numericValue.startsWith("234")) {
		    numericValue = "234" + numericValue;
		  }

		  // Truncate the numeric value to 11 characters
		  numericValue = numericValue.substring(0, 13);

		  // Format the phone number with hyphens between digits
		  let formattedValue = `(+${numericValue.substring(0, 3)}) ${numericValue.substring(3, 6)}-${numericValue.substring(6, 9)}-${numericValue.substring(9, 13)}`;

		  // Set the formatted value as the input field value
		  event.target.value = formattedValue;
		});
	});
</script>
