<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Profile</h1>
	<%= link_to edit_user_registration_path, class: "d-none d-sm-inline-block btn btn-primary shadow-sm" do %>
		<i class="fas fa-plus"></i> Edit Profile
	<% end %>
</div>
<!-- Content Row -->
<div class="row">
	<!-- Content Column -->
	<div class="col-lg-10 mb-4 mx-auto">
		<div class="row">
			<div class="col-lg-4">
				<div class="card shadow mb-4">
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Profile Photo</h6>
					</div>
					<div class="card-body">
						<div class="text-center ">
							<% if current_user.profile_image.attached? %>
								<%= image_tag(current_user.profile_image, class: "rounded-circle me-profile", width: "300", height: "300", alt: "profile Image") %>
							<% else %>
								<%= image_tag("default.png", class: "rounded-circle me-profile", width: "300", height: "300", alt: "profile Image") %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="card shadow mb-4">
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Details</h6>
					</div>
					<div class="card-body">
						<div class="row mb-4">
							<div class="col">
								<h5><span class="text-dark">First Name: </span><%= current_user.first_name %></h5>
							</div>
							<div class="col">
								<h5><span class="text-dark">Last Name: </span><%= current_user.last_name %></h5>
							</div>
						</div>
						<div class="row mb-4">
							<div class="col">
								<h5><span class="text-dark"> Email: </span><%= current_user.email %></h5>
							</div>
							<div class="col">
								<h5><span class="text-dark">Phone No: </span><%= current_user.phone_no %></h5>
							</div>
						</div>
						<div class="row mb-4">
							<div class="col">
								<h5><span class="text-dark">Address: </span><%= current_user.address %></h5>
							</div>
						</div>
						<div class="row mb-4">
							<div class="col">
								<h5><span class="text-dark">D.O.B: </span>
									<% if current_user.date_of_birth.present? %>
										<%= current_user.date_of_birth.strftime('%d-%m-%Y') %></h5>
								<% end %>
							</div>
							<div class="col">
								<h5><span class="text-dark">State: </span><%= current_user.state %></h5>
							</div>
							<div class="col">
								<h5><span class="text-dark">State: </span><%= current_user.gender %></h5>
							</div>
							<div class="col">
								<h5><span class="text-dark">Zip Code: </span><%= current_user.zip_code %></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Project Card Example -->
	</div>
</div>
<!-- Content Row -->
<div class="row">
	<!-- Content Column -->
	<div class="col-lg-10 mb-4 mx-auto">
		<!-- Project Card Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Activity log</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table align-items-center justify-content-between">
						<thead class="thead-light">
							<tr>
								<th scope="col">Date - Time</th>
								<th scope="col-lg-8">Description</th>
							</tr>
						</thead>
						<tbody>
							<% 5.times do %>
								<tr>
									<td scope="row"><%= Time.now.strftime("%d/%m/%Y - %H:%M:%S") %></td>
									<td scope="row"><%= Faker::Lorem.sentence %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
