<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Staff Details</h1>
	<%= link_to admin_staffs_path, class: "d-none d-sm-inline-block btn btn-secondary shadow-sm" do %>
		<i class="fas fa-angle-left"></i> Back to Staffs
	<% end %>
</div>
<div class="row">
	<!-- Content Column -->
	<div class="col-lg-8 mb-4 mx-auto">
		<!-- Project Card Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary"><%= @staff.first_name %>'s Details</h6>
			</div>
			<div class="card-body">
				<div class="row ">
					<div class="col-lg-4 ">
						<%= image_tag @staff.profile_image, class: "rounded-circle", width: "300", height: "300" %>
					</div>
					<div class="col-lg-8 ">
						<div class="row mb-4 pt-3">
							<div class="col">
								<label for=""><span class="small">First name</span></label>
								<h3><strong><%= @staff.first_name %></strong></h3>
							</div>
							<div class="col">
								<label for=""><span class="small">Last name</span></label>
								<h3><strong><%= @staff.last_name %></strong></h3>
							</div>
							<div class="col">
								<label for=""><span class="small">Staff ID</span></label>
								<h3><strong><%= @staff.unique_id %></strong></h3>
							</div>
						</div>
						<div class="row mb-4 pt-3">
							<div class="col">
								<label for=""><span class="small">Gender</span></label>
								<h3><strong><%= @staff.gender.capitalize %></strong></h3>
							</div>
							<div class="col">
								<label for=""><span class="small">State</span></label>
								<h3><strong><%= @staff.state %></strong></h3>
							</div>
							<div class="col">
								<label for=""><span class="small">Zip Code</span></label>
								<h3><strong><%= @staff.zip_code %></strong></h3>
							</div>
						</div>
						<div class="row mb-4 pt-3">
							<div class="col">
								<label for=""><span class="small">Address</span></label>
								<h5><strong><%= @staff.address %></strong></h5>
							</div>
							<div class="col">
								<label for=""><span class="small">State</span></label>
								<h5><strong><%= @staff.phone_no %></strong></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
