<style>
	.magi{
		margin-top: 6rem !important;
	}
</style>
<main class="container magi">
	<div class="row">
		<div class="col-lg-6 mx-auto">
			<%= render 'shared/info' %>
		</div>
	</div>
	<div class="mb-4 p-2 rounded text-body-emphasis bg-body-secondary">
		<%= image_tag(@event.photo, class: "img-fluid rounded", height: "100%", width: "100%") %>
	</div>
	<div class="row g-5 px-3">
		<div class="col-md-8">
			<article class="blog-post">
				<h2 class="display-5 link-body-emphasis mb-1"><%= @event.name %></h2>
				<p class="blog-post-meta my-2" style="color: #f4633c"><%= @event.start_date.strftime('%B %d, %Y') %> </p>
				<p>Time: <%= @event.start_time.strftime('%H:%M') %> <span class="badge badge-success"><%= @event.category.name %></span></p>
				<p><%= simple_format(@event.description) %></p>
				<hr>
			</article>
		</div>
		<div class="col-md-4">
			<div class="position-sticky" style="top: 6rem;">
				<div class=" mb-3 bg-body-tertiary rounded">
					<h4 class="">Information</h4>
					<div class="card">
						<div class="card-body">
							<p class="mb-0">Feel free to make your ticket selection by simply clicking on the buy button on the ticket of your choice to proceed with the purchase.</p>
						</div>
					</div>
				</div>
				<div>
					<h4 class="">Tickets</h4>
					<ul class="list-unstyled">
						<% if @event.tickets.present? && @event.start_date >= Date.current %>
							<% @event.tickets.each do |ticket| %>
								<li>
									<div class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top">
										<%= image_tag "ticket.png", width: "100%" %>
										<div class="col-lg-5">
											<h6 class="mb-2"><strong><%= ticket.ticket_type %> ticket</strong></h6>
											<h6 class="mb-1"><%= number_to_currency(ticket.price, unit: "₦", precision: 2) %></h6>
											<small class="text-body-secondary"><span style="color:#f4633c"><%= number_with_delimiter(ticket.vip_seats) %><%= number_with_delimiter(ticket.regular_seats) %> seat<%= 's' if ticket.vip_seats != 1 || ticket.regular_seats != 1 %></span> left.</small>
										</div>
										<div class="col-lg-3">
											<% if ticket.vip_seats == 0 || ticket.regular_seats == 0 %>
												<button type="button" class="btn btn-primary disabled" data-bs-toggle="modal" data-bs-target="#paymentModal" 
													data-ticket-type="<%= ticket.ticket_type %>"
													data-ticket-price="<%= number_with_precision(ticket.price, precision: 2) %>"
													data-event-name="<%= @event.name %>"
												>
													Sold
												</button>
											<% else %>
												<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paymentModal" 
													data-ticket-type="<%= ticket.ticket_type %>"
													data-ticket-price="<%= number_with_precision(ticket.price, precision: 2) %>"
													data-event-name="<%= @event.name %>"
												>
													Buy
												</button>
											<% end %>
										</div>
									</div>
								</li>
							<% end %>
						<% elsif @event.start_date < Date.current %>
							<div class="card">
								<div class="card-body">
									<span class="my-5"><strong>This event has already taken place. </strong></span>
								</div>
							</div>
						<% else %>
							<div class="card">
								<div class="card-body">
									<span class="my-5">Tickets for this event are currently not available.</span>
								</div>
							</div>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- Modal -->
<div class="modal fade" id="paymentModal" data-ticket-target="modal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="paymentModalLabel">Ticket Detail</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row g-5">
					<%= form_with(url: purchase_payment_path, local: true, html: { id: "", class: ""}) do |f| %>
						<div class="col-md-7 col-lg-12">
							<h4 class="mb-3" ><strong><span id="eventName"></span></strong></h4>
							<h5 >Ticket: <strong><span id="ticketType"></span></strong>, <span id="">seat: <strong>1</strong></span></h5>
							<h4 >Price: <strong>₦<span id="ticketPrice"></span></strong></h4>
							<hr class="my-4">
							<!-- Hidden Fields for Price and Ticket Type -->
							<%= f.hidden_field :event_name, id: "hiddenEventName" %>
							<%= f.hidden_field :ticket_type, id: "hiddenTicketType" %>
							<%= f.hidden_field :ticket_price, id: "hiddenTicketPrice" %>
							<div class="row g-3">
								<div class="col-sm-6">
									<label for="firstName" class="form-label">First name</label>
									<%= f.text_field :first_name, class: "form-control", id: "firstName", placeholder: "John", required: true %>
								</div>
								<div class="col-sm-6">
									<label for="lastName" class="form-label">Last name</label>
									<%= f.text_field :last_name, class: "form-control", id: "lastName", placeholder: "Doe", required: true %>
								</div>
								<div class="col-12">
									<label for="email" class="form-label">Email Address</label>
									<%= f.email_field :email, class: "form-control", id: "email", placeholder: "you@email.com" %>
								</div>
								<div class="col-12">
									<label for="phone" class="form-label">Phone No</label>
									<%= f.text_field :phone, class: "form-control", id: "phone", placeholder: "09023XXXXX" %>
								</div>
								<hr>
								<div class="col-12">
									<label for="card" class="form-label">Card No</label>
									<%= f.text_field :card, class: "form-control", id: "phone", value: "5399874587458383" %>
								</div>
								<div class="col-sm-4">
									<label for="expireDate" class="form-label">Month</label>
									<%= f.text_field :expiration_month, class: "form-control", id: "expireDate", value: "08", required: true %>
								</div>
								<div class="col-sm-4">
									<label for="expireDate" class="form-label">Year</label>
									<%= f.text_field :expiration_year, class: "form-control", id: "expireDate", value: "2027", required: true %>
								</div>
								<div class="col-sm-4">
									<label for="cvv" class="form-label">CVV</label>
									<%= f.text_field :cvv, class: "form-control", id: "cvv", value: "729", required: true %>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer mt-3">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Proceed</button>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener('turbo:load', function () {
	var paymentModal = document.getElementById("paymentModal");
	paymentModal.addEventListener("show.bs.modal", function (event) {
		var button = event.relatedTarget;
		var ticketType = button.getAttribute("data-ticket-type");
		var ticketPrice = button.getAttribute("data-ticket-price");
		var eventName = button.getAttribute("data-event-name");
		var eventNameElement = document.getElementById("eventName");
		var ticketTypeElement = document.getElementById("ticketType");
		var ticketPriceElement = document.getElementById("ticketPrice");
		var hiddenEventNameField = document.getElementById("hiddenEventName");
		var hiddenTicketTypeField = document.getElementById("hiddenTicketType");
		var hiddenTicketPriceField = document.getElementById("hiddenTicketPrice");

		eventNameElement.textContent = eventName;
		ticketTypeElement.textContent =  ticketType;
		ticketPriceElement.textContent = ticketPrice;

		// Set hidden field values
		hiddenEventNameField.value = eventName;
		hiddenTicketTypeField.value = ticketType;
		hiddenTicketPriceField.value = ticketPrice;

		});
	});
</script>
