<section class="page-section" id="contact">
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-lg-8 col-xl-6 text-center">
				<h2 class="mt-0">Let's Get In Touch!</h2>
				<hr class="divider" />
				<p class="text-muted mb-5">Your Bridge to a Seamless and Helpful Experience.</p>
				<%= render 'shared/info' %>
			</div>
		</div>
		<div class="row gx-4 gx-lg-5 justify-content-center mb-5">
			<div class="col-lg-6">
				<%= form_with(url: contact_action_path, local: true, html: { id: "contactForm", class: ""}) do |f| %>
					<!-- Name input-->
					<div class="form-floating mb-3">
						<%= f.text_field :name, class: "form-control", id: "name", placeholder: "Enter your name...", required: true %>
						<label for="name">Full name</label>
					</div>
					<!-- Email address input-->
					<div class="form-floating mb-3">
						<%= f.email_field :email, class: "form-control", id: "email", placeholder: "name@example.com", required: true %>
						<label for="email">Email address</label>
					</div>
					<!-- Phone number input-->
					<div class="form-floating mb-3">
						<%= f.text_field :subject, class: "form-control", id: "subject", placeholder: "Enquiry", required: true %>
						<label for="subject">Subject</label>
					</div>
					<!-- Message input-->
					<div class="form-floating mb-3">
						<%= f.text_area :message, class: "form-control", id: "message", placeholder: "Enter your message here...", style: "height: 10rem", required: true %>
						<label for="message">Message</label>
					</div>
					<!-- Submit Button-->
					<div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Submit</button></div>
				<% end %>
			</div>
		</div>
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<%# <div class="col-lg-4 text-center mb-5 mb-lg-0">
				<i class="bi-phone fs-2 mb-3 text-muted"></i>
				<div>+1 (555) 123-4567</div>
			</div> %>
		</div>
	</div>
</section>
