<div id="<%= dom_id ticket %>">
	<div class="row">
		<div class="col-lg-8 mx-auto">
			<div class="card shadow mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h4 class="m-0 font-weight-bold text-primary"><%= ticket.name %> </h4>
				</div>
				<div class="card-body">
					<p>
						<strong>Price:</strong>
						<%= ticket.price %>
					</p>
					<p>
						<strong>Ticket type:</strong>
						<%= ticket.ticket_type %> <br>
					</p>
					<p>
						<% if ticket.vip_seats.nil? %>
							<strong>Regular seats:</strong>
							<%= ticket.regular_seats %>
						<% else %>
							<strong>Vip seats:</strong>
							<%= ticket.vip_seats %>
						<% end %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
