<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Tickets</h1>
	<%= link_to new_admin_ticket_path, class: "d-none d-sm-inline-block btn btn-primary shadow-sm" do %>
		<i class="fas fa-plus"></i> Add Ticket
	<% end %>
</div>
<div id="admin_tickets">
	<% @tickets.each do |ticket| %>
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<div class="card shadow mb-4">
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h4 class="m-0 font-weight-bold text-primary"><%= ticket.name %> </h4>
						<div class="dropdown no-arrow">
							<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-ellipsis-v fa-sm fa-fw h5"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
								<%= link_to "Show ", admin_ticket_url(ticket), class: "dropdown-item text-primary" %>
								<%= link_to "Edit ", edit_admin_ticket_path(ticket), class: "dropdown-item text-info" %>
								<div class="dropdown-divider"></div>
								<%= link_to "Destroy", admin_ticket_url(ticket), class: "dropdown-item text-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete #{ticket.name}?"} %>
							</div>
						</div>
					</div>
					<div class="card-body">
						<strong>Price:</strong>
						<%= ticket.price %> <br>
						<strong>Ticket type:</strong>
						<%= ticket.ticket_type %> <br>
						<% if ticket.vip_seats.nil? %>
							<strong>Regular seats:</strong>
							<%= ticket.regular_seats %>
						<% else %>
							<strong>Vip seats:</strong>
							<%= ticket.vip_seats %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
