<p style="color: green"><%= notice %></p>

<%= render @admin_ticket %>

<div>
  <%= link_to "Edit this ticket", edit_admin_ticket_path(@admin_ticket) %> |
  <%= link_to "Back to tickets", admin_tickets_path %>

  <%= button_to "Destroy this ticket", @admin_ticket, method: :delete %>
</div>
