<div class="container-fluid">

<p style="color: green"><%= notice %></p>

<h1>Categories</h1>




  <div class="row">

    <div class="col-lg-6">

        <!-- Default Card Example -->
        <div class="card mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Create category</h6>
            </div>
            <div class="card-body">
            
                <%= form_with(model: @admin_category) do |form| %>
                  <% if @admin_category.errors.any? %>
                    <div style="color: red">
                      <h2><%= pluralize(@admin_category.errors.count, "error") %> prohibited this admin_category from being saved:</h2>

                      <ul>
                        <% @admin_category.errors.each do |error| %>
                          <li><%= error.full_message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div>
                    <%= form.label :name, style: "display: block" %>
                    <%= form.text_field :name, class: "form-control" %>
                  </div>

                  <div>
                    <%= form.submit class: "btn btn-primary mt-3" %>
                  </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-lg-6">

        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">List of Categories</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div id="admin_categories">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">S/N</th>
                          <th scope="col">Name</th>
                          <th scope="col" class='text-center'>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @admin_categories.each_with_index do |admin_category, index| %>
                        <tr>
                          <th scope="row"><%= index + 1 %></th>
                          <td><%= admin_category.name %></td>
                          <td class="text-center">
                            <span class='badge badge-danger'> <%= link_to "Delete", admin_category, class: "text-decoration-none text-white", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{admin_category.name} Category?"} %></span>
                          </td>
                        </tr>
                        <% end %>
                      </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>

  </div>
</div>